#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 25px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 20px 100px;
    margin-bottom: 0;
}

.header {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.header h1 {
    font-size: 64px;
    color: #D3573C;
    margin: 0;
}

.header h3 {
    font-size: 24px;
    color: #901C1C;
}

.header h4 {
    font-size: 18px;
    color: #525252;
    font-weight:normal;
}

.header button {
    margin-top: 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover {
    background-color: #D3573C;
    color: black;
}

/*--------------------------------------------------------------------------*/

            /* MODALE */

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 60px;
    padding-left: 8px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 210px;
    padding-left: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.error {
    color: #e54858;
    font-weight: bold;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    transition: 0.3s;
}

.incorrect {
    border: 2px solid #e54858;
    margin: 0;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    
}

.correct {
    margin: 0;
    padding-left: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
}

/*--------------------------------------------------------------------------*/

            /* MEDIA */

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.portfolio-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 11em;
    margin: 0 100px;
}

.media {
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.photographer__content__text_wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 30px;
}

.photographer_content_post {
    color: #901C1C;
    margin: 0;
    font-weight: lighter;
}

.photographer_content_likes {
    display: flex;
    align-items: center;
    color: #901C1C;
    cursor: pointer;
}

.photographer-button-like {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/*--------------------------------------------------------------------------*/

            /* SELECT TRI */

.sortContainer {
    margin: 20px 100px 20px 100px;
    display: flex;
    align-items: center;
}

.label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.selection {
    display: none;
}

.newSelect {
    background: #901C1C;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 150px;
    height: 69px;
    margin: 0;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.newSelect::after {
    content: '';
    background: url("/img/chevron-down-solid.svg");
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    height: 100%;
    width: 16px;
    right: 15px;
    top: 25px;
    z-index: 11;
}

.newSelect.active::after {
    transform: rotateX(180deg);
    top: -25px;
}

.selectItems {
    background: #901C1C;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 130px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    position: absolute;
    top: 430px;
    cursor: pointer;
    z-index: 10;
}

.selectItems li {
    height: 69px;
    display: flex;
    align-items: center;
}

.selectItems li:nth-child(2) {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.selectHide {
    display: none;
}

/*--------------------------------------------------------------------------*/

            /* ZONE COMPTEUR DE LIKES ET PRIX */

.zoneInfo {
    width: 376px;
    height: 80px;
    background: #DB8876;
    border-radius: 5px;
    position: fixed;
    bottom: -10px;
    right: 30px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boxLikes {
    display: flex;
}

.mediaLikesBox, .InfoPrice {
    margin: 0;
    margin-top: -5px;
}

.fa-heart {
    width: 20px;
    height: 20px;
}

/*--------------------------------------------------------------------------*/

            /* LIGHTBOX */

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FAFAFA;
    z-index: 20;
}

.lightbox_next {
    border: none;
    width: 50px;
    height: 50px;
    background: url(../img/chevron-right-solid.svg) center center / 100% 100% no-repeat;
    position: fixed;
    top: 50%;
    right: 10%;
    margin-top: 14px;
    z-index: 21;
}

.lightbox_prev {
    border: none;
    width: 50px;
    height: 50px;
    background: url(../img/chevron-left-solid.svg) center center / 100% 100% no-repeat;
    position: fixed;
    top: 50%;
    right: auto;
    left: 10%;
    margin-top: 14px;
    z-index: 21;
}

.lightbox_close {
    border: none;
    width: 50px;
    height: 50px;
    background: url(../img/close.svg) center center / 100% 100% no-repeat;
    position: fixed;
    top: 20px;
    right: 10%;
    z-index: 22;
}

.lightbox button {
    cursor: pointer;
    text-indent: -5000px;
    transition: opacity 0.3s;
}

.lightbox_container {
    margin-left: 50px;
    margin-right: 50px;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.lightbox_media {
    max-height: 100%;
    margin: 0;
}

.lightbox_media img,
.lightbox_media video {
    width: auto;
    height: 800px;
    border-radius: 5px;
    margin-top: 20px;
}

.lightbox_title {
    font-size: 24px;
    color: #901C1C;
    width: 100%;
    height: 30px;
    text-align: start;
    margin: 0;
}